option_settings:
  aws:ec2:instances:
    InstanceTypes: t3.small
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '10'
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSize: '50'
    BatchSizeType: Percentage
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: 'true'
    DeleteOnTerminate: 'true'
    RetentionInDays: '14'
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/