
<div style="margin-bottom:30px;">

    <h2 id="{{ inline_admin_formset.formset.prefix }}-h2" 
        style="
        font-weight: 400;
        padding:8px;
        border-radius: 3px;
        border: 1px solid var(--hairline-color);
        font-size: 13px;
        background-color: var(--darkened-bg);
        color:#999;
        background-clip: border-box;
        background-origin: padding-box;
        font-family: 'Roboto','Lucida Grande','DejaVu Sans','Bitstream Vera Sans',Verdana,Arial,sans-serif;
        display: block;
        ">
        {{ inline_admin_formset.opts.verbose_name_plural|title }}
        (<a id="{{ inline_admin_formset.formset.prefix }}-nline-toggle" style="color:var(--link-fg); cursor:pointer;">보기</a>)
    </h2>
        
    <div id="content-{{ inline_admin_formset.formset.prefix }}-group" style="display: none;" >
        {% include 'admin/edit_inline/tabular-nested.html' %}
    </div>

    <script>
        document.querySelector('#{{ inline_admin_formset.formset.prefix }}-nline-toggle').addEventListener('click',(e)=>{
            let state = e.target.innerHTML
            if (state == '보기'){
                document.querySelector("#content-{{ inline_admin_formset.formset.prefix }}-group").style.display="block"
                e.target.innerHTML = '감추기'

            } else if(state == '감추기') {
                document.querySelector("#content-{{ inline_admin_formset.formset.prefix }}-group").style.display = "none"
                e.target.innerHTML = '보기'
            }
            console.log("sfdsdf")
        })
    </script>
</div>

